<nav>
    <ul>
        {% if user.is_authenticated %} <!-- Si el usuario está autenticado -->
        <li>
            <a href="{% url 'projects' %}">Proyectos</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
        {% else %} <!-- Si el usuario no está autenticado  -->
        <li>
            <a href="{% url 'signin' %}">Iniciar sesión</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Registrarse</a>
        </li>
        {% endif %}
    </ul>
</nav>